/* css reset */
*{
    margin: 0;
}

/* navigation bar */
#navbar{
    align-items: center;
    display: flex;
}
/* navigation bar:list styling */
#navbar{
    position:relative;
}
#navbar ul{
    display:flex;
}
#navbar::before{
    content: "";
    background-color: rgb(38, 27, 90);
    background-image: linear-gradient(to right, rgba(255,0,0,0) , rgba(255,0,0,1));
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.6;
}


#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
} 
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 22px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
}

/* home section */
/* #home::before{ */
    /* content:""; */
    /* position: absolute; */
    /* background: url('../home.mp4') no-repeat center/cover; */
    /* height: 65%; */
    /* width: 100%;/ */
    /* z-index: -1; */
    /* opacity: 0.89;. */
/* } */

#intro{
    font-family: Copperplate;
    font-size: 20px;
  }
  #intro{
    color:white;
    display: block;
    padding: 3px 22px;
    /* border-radius: 22px; */
    text-decoration: none;
}

#intro{
    content: "";
    /* background-color:aqua; */
background-color: rgb(53, 11, 82);
    background-image: linear-gradient(to right, rgba(255,0,0,0) , rgb(255, 0, 0,1));

    /* position: absolute; */
    height: 100%;
    width: 97%;
    z-index: -1;
    opacity:0.6;
}

